<div class="description-box">
  <div class="line-col" aria-hidden="true"></div>
  <div class="content">
    <h2 class="title">A03: Supply Chain</h2>
    <p>This challenge demonstrates a <a href="https://genai.owasp.org/llmrisk/llm032025-supply-chain/" target="_blank">supply chain</a> vulnerability.</p>
    <p>Your goal is to identify the vulnerable plugin and exploit it to read the file <mark>flag.txt</mark>.</p>
    <br>
    <a href="https://www.secforce.com/blog/llmgoat-a03-supply-chain/" target="_blank" class="button">SOLUTION</a>
  </div>
</div>

<div class="chat-container">
  <div class="messages" id="messages"></div>
  <form id="challenge-form" class="input-bar">
    <textarea id="input" name="input" placeholder="Type your message... (Shift + Enter for new line)" rows="2" required></textarea>
    <button type="submit" id="submit-btn">SEND</button>
  </form>
</div>

<script type="module">
  import { initChat } from "/static/js/main.js";

  initChat({
    endpoint: "/api/a03-supply-chain-vulnerabilities",
    botName: "GoatFeedBot",
  });
  </script>
