<h1>LLMGoat</h1>
<p>This project is an open source, deliberately vulnerable environment created by <a href="https://www.secforce.com" target="_blank">SECFORCE</a> to learn about LLM-specific risks based on the <a href="https://genai.owasp.org/llm-top-10/" target="_blank">OWASP Top 10 for LLM Applications</a>.</br>
Each challenge from the left menu simulates a real-world vulnerability so you can easily learn, test and understand risks associated with large language models.</br>
No goats were harmed during the creation of this tool... we can't say the same for our own LLMs, unfortunately.</p>
